Программа "Звёздное небо"

Основная версия:
  Полноэкранный режим. С замедлением 0.1 сек закрашивать случайный пиксель
  случайным цветом.

Версия "С полями":
  Добавить чистые поля в 20 пикселей с каждой стороны.

Дополнительные требования:
  1) Обработка ошибок
